<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.certi.dao.IGatewayIdAuthLogDAO">
	<resultMap id="gatewayIdAuthLog_DB_Result" type="gatewayIdAuthLog">
		<result column="id" property="id" />
		<result column="system_code" property="systemCode" />
		<result column="company_code" property="companyCode" />
		<result column="user_id" property="userId" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />	
		<result column="real_name" property="realName" />
		<result column="card_no" property="cardNo" />	
		<result column="bind_mobile" property="bindMobile" />
		<result column="zhima_biz_no" property="zhimaBizNo" />
		<result column="zhima_url" property="zhimaUrl" />
		<result column="error_code" property="errorCode" />
		<result column="error_msg" property="errorMsg" />
		<result column="create_datetime" property="createDatetime" />	
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="cardNo != null and cardNo != '' ">
				AND t.card_no = #{cardNo}
			</if>
			<if test="bindMobile != null and bindMobile != '' ">
				AND t.bind_mobile = #{bindMobile}
			</if>
			<if test="zhimaBizNo != null and zhimaBizNo != '' ">
				AND t.zhima_biz_no = #{zhimaBizNo}
			</if>
			<if test="errorCode != null and errorCode != '' ">
				AND t.error_code = #{errorCode}
			</if>
			<if test="createDatetime != null and createDatetime != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetime}]]>
			</if>			
		</trim>
	</sql>
	<select id="select_gatewayIdAuthLog" parameterType="gatewayIdAuthLog"
		resultMap="gatewayIdAuthLog_DB_Result">
		SELECT
		id
		,system_code
		,company_code
		,user_id
		
		,id_kind
		,id_no
		,real_name
		,card_no
		,bind_mobile
		,zhima_biz_no
		,zhima_url
		,error_code
		,error_msg
		,create_datetime
		,remark
		FROM
		tstd_gateway_idauth_log t
		<include refid="where_condition" />
		order by create_datetime desc
		<!--  
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
		-->
	</select>

	<select id="select_gatewayIdAuthLog_count" parameterType="gatewayIdAuthLog"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_gateway_idauth_log t
		<include refid="where_condition" />
	</select>

	<insert id="insert_gatewayIdAuthLog" parameterType="gatewayIdAuthLog">
		INSERT INTO
		tstd_gateway_idauth_log(
		system_code
		,company_code
		,user_id
		,id_kind
		,id_no
		,real_name
		,card_no
		,bind_mobile
		,zhima_biz_no
		,zhima_url
		,error_code
		,error_msg
		,create_datetime
		,remark
		)
		VALUES(
		#{systemCode}
		,#{companyCode}
		,#{userId}
		,#{idKind}	
		,#{idNo}
		,#{realName}
		,#{cardNo}
		,#{bindMobile}
		,#{zhimaBizNo}
		,#{zhimaUrl}
		,#{errorCode}
		,#{errorMsg}
		,#{createDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_errorInfo" parameterType="gatewayIdAuthLog">
		UPDATE tstd_gateway_idauth_log
		SET
		error_code = #{errorCode}
		,error_msg = #{errorMsg}
		WHERE id = #{id}
	</update>
</mapper>
