<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.certi.dao.IIdAuthDAO">
	<resultMap id="tjcIdAuth_DB_Result" type="idAuth">
		<result column="code" property="code" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />	
		<result column="real_name" property="realName" />
		<result column="card_no" property="cardNo" />	
		<result column="bind_mobile" property="bindMobile" />
		<result column="create_datetime" property="createDatetime" />	
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="cardNo != null and cardNo != '' ">
				AND t.card_no = #{cardNo}
			</if>
			<if test="bindMobile != null and bindMobile != '' ">
				AND t.bind_mobile = #{bindMobile}
			</if>
			<if test="createDatetime != null and createDatetime != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetime}]]>
			</if>			
		</trim>
	</sql>
	<select id="select_tjcIdAuth" parameterType="idAuth"
		resultMap="tjcIdAuth_DB_Result">
		SELECT
		code
		,id_kind
		,id_no
		,real_name
		,card_no
		,bind_mobile
		,create_datetime
		FROM
		tstd_idauth t
		<include refid="where_condition" />
		order by create_datetime desc
		<!--  
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
		-->
	</select>

	<select id="select_tjcIdAuth_count" parameterType="idAuth"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_idauth t
		<include refid="where_condition" />
	</select>

	<insert id="insert_tjcIdAuth" parameterType="idAuth">
		INSERT INTO
		tstd_idauth(
		code
		,id_kind
		,id_no
		,real_name
		,card_no
		,bind_mobile
		,create_datetime
		)
		VALUES(
		#{code}
		,#{idKind}	
		,#{idNo}
		,#{realName}
		,#{cardNo}
		,#{bindMobile}
		,#{createDatetime}
		)
	</insert>
	
</mapper>