<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
	     <typeAlias alias="gatewayIdAuthLog" type="com.std.certi.domain.GatewayIdAuthLog" />
	     <typeAlias alias="idAuth" type="com.std.certi.domain.IdAuth" />
	     <typeAlias alias="cPassword" type="com.std.certi.domain.CPassword" />
	     <typeAlias alias="userPicture" type="com.std.certi.domain.UserPicture" />
	</typeAliases>	
</configuration>	
