<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.certi.dao.IUserPictureDAO">
	<resultMap id="userPicture_DB_Result" type="userPicture">
		<result column="id" property="id" />
		<result column="system_code" property="systemCode" />
		<result column="company_code" property="companyCode" />
		<result column="user_id" property="userId" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />	
		<result column="real_name" property="realName" />
		<result column="id_pic1" property="idPic1" />	
		<result column="id_pic2" property="idPic2" />
		<result column="id_user_pic" property="idUserPic" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="verify_user" property="verifyUser" />
		<result column="verify_datetime" property="verifyDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.createDatetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.createDatetime <= #{createDatetimeEnd}]]>
			</if>
			<if test="verifyUser != null and verifyUser != '' ">
				AND t.verify_user = #{verifyUser}
			</if>		
		</trim>
	</sql>
	<select id="select_userPicture" parameterType="userPicture"
		resultMap="userPicture_DB_Result">
		SELECT
		id
		,system_code
		,company_code
		,user_id
		
		,id_kind
		,id_no
		,real_name
		,id_pic1
		,id_pic2
		,id_user_pic
		,status
		,create_datetime
		,verify_user
		,verify_datetime
		,remark
		FROM
		tstd_user_picture t
		<include refid="where_condition" />
		order by create_datetime desc
		<!--  
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
		-->
	</select>

	<select id="select_userPicture_count" parameterType="userPicture"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user_picture t
		<include refid="where_condition" />
	</select>

	<insert id="insert_userPicture" parameterType="userPicture">
		INSERT INTO
		tstd_user_picture(
		system_code
		,company_code
		,user_id
		
		,id_kind
		,id_no
		,real_name
		,id_pic1
		,id_pic2
		,id_user_pic
		,status
		,create_datetime
		,remark
		)
		VALUES(
		#{systemCode}
		,#{companyCode}
		,#{userId}
		,#{idKind}	
		,#{idNo}
		,#{realName}
		
		,#{idPic1}
		,#{idPic2}
		,#{idUserPic}
		,#{status}
		,#{createDatetime}
		,#{remark}
		)
	</insert>
	<update id="update_VerifyUserPicture" parameterType="cPassword">
		UPDATE tstd_user_picture
		SET
		status = #{status}
		,verify_user = #{verifyUser}
		,verify_datetime = #{verifyDatetime}
		,remark = #{remark}
		WHERE id = #{id}
	</update>
</mapper>
